<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <object class="GtkMenu" id="menu">
    <child>
      <object class="GtkMenuItem" id="dec">
        <property name="label">Decrement</property>
      </object>
    </child>
    <child>
      <object class="GtkMenuItem" id="reset">
        <property name="label">Reset</property>
      </object>
    </child>
  </object>
</interface>
